# Autor: Jefferson Augusto
# Site: www.totustuuscomunicacao.com.br
# Facebook: facebook.com/totustuuscomunicacao
# 
# 
# Linkedin: https://www.linkedin.com/in/jefferson-augusto-5759b87b/
# Instagram: https://www.instagram.com/jeffersongontijo765/
# Data de criação: 13/05/2022
# Data de atualização: 18/05/2022
# Versão: 0.02
# Testado e homologado para a versão do Ubuntu Server 20.04.x LTS x64x
# Testado e homologado para a versão do MySQL v8.0.x
#
# Configurações principais do Cliente de MySQL Server
[mysql]
#ssl_ca=/etc/ssl/certs/pti-ca.pem
#ssl_cert=/etc/ssl/newcerts/mysql.crt
#ssl_key=/etc/ssl/private/mysql.key